@import '../../../colors.scss';

.toolbar {
  display:flex;
  justify-content: space-between;
  align-items:center;
  background-color: $primary-color;
  color:white;
  
  /* position:fixed;
  top:0;
  z-index:10; */
}

a {
  text-decoration: none;

}

.open {
  justify-content: flex-end;
}

.menu {
  display:flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding:0.313rem;
  .menu-item {
    display: flex;
    align-items: center;
    margin: 0.313rem;
  }
}


