<form>
<mat-form-field [appearance]="appearance">
    <mat-label>{{fieldLabel}}</mat-label>
    <input matInput [matAutocomplete]="auto" [formControl]="inputControl"/>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let item of arr | inputFilterPipe:inputControl.value; let i = index" [value]="fieldToDisplay ? item[fieldToDisplay] : item" (click)="submitValueFunc(item)">{{fieldToDisplay ? item[fieldToDisplay] : item}}
      </mat-option>
    </mat-autocomplete>
    <mat-icon matSuffix *ngIf="inputControl.value" color="primary" (click)="clearControl()">cancel</mat-icon>
    <mat-icon matSuffix *ngIf="!inputControl.value" color="primary">search</mat-icon>
  </mat-form-field>
</form>
