
  <mat-tab-group>
    <mat-tab label="View Customers">
  <section class="section search">
<app-search [arr]="customers$ | async" [appearance]="'fill'" (submitValue)="viewCustomer($event)"></app-search>

  <app-form *ngIf="customer" [data]="customer" [cls]="customerClass" [formTemplate]="model"></app-form>
</section>
</mat-tab>
<mat-tab label="Create Customers">
<section class="section">
  <button mat-raised-button color="primary" (click)="addCustomer()">Add Customer</button>
  <app-form *ngIf="newForm" [data]="customerClass" [cls]="customerClass" [formTemplate]="model"></app-form>
</section>
</mat-tab>
</mat-tab-group>
